.create-test__title {
  font-size: 1.25rem;
  line-height: 75px;
  color: #323a46;
}

.create-test__header {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, .03);
  margin-bottom: 24px;
  border-radius: .25rem;
  display: flex;
  align-items: center;
}

.create-test__input-title {
  max-width: 250px;
  width: 100%;
  margin-right: 50px;
}

.create-test__question {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, .03);
  margin-bottom: 24px;
  border-radius: .25rem;
  position: relative;
}

.create-test__question-type {
  font-size: 13px;
  color: #323a46;
}

.create-test__question-wrapper {
  position: absolute;
  left: 10px;
  top: 5px;
  display: flex;
  align-items: center;
}

.create-test__question-title {
  max-width: 500px;
  width: 100%;
  margin-right: 50px;
}

.create-test__question-header {
  display: flex;
  align-items: center;
}

.create-test__question-body {
}

.create-test__question-answer {
  max-width: 500px;
  width: 100%;
}

.create-test__question-delete {
  cursor: pointer;
  color: darkgray;
  transition: all .3s;

  &:hover {
    color: red;
  }
}