html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  @include roboto;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.container {
  max-width: unset;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  // @include media-xl {
  //   max-width: $break-lg;
  // }

  // @include media-lg {
  //   max-width: $break-md;
  // }

  // @include media-md {
  //   max-width: $break-sm;
  // }
}

// -------- BEM blocks --------