// ------- fonts -------

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

// ------- colors -------

$accent: #ffba26;
$text_dark: #3d3d3d;

// ------- maket -------

$maxWidth: 1230;
$columns: 12;

// ------- media breaks -------

$break_xl: 1200px;
$break_lg: 992px;
$break_md: 768px;
$break_sm: 576px;

// ------- mixins -------

@mixin size($n){
  width: calc(100% / #{$columns} * #{$n});
}

@mixin media-xl(){
  @media screen and (max-width: $break_xl){
    @content;
  }
}

@mixin media-lg(){
  @media screen and (max-width: $break_lg){
    @content;
  }
}

@mixin media-md(){
  @media screen and (max-width: $break_md){
    @content;
  }
}

@mixin media-sm(){
  @media screen and (max-width: $break_sm){
    @content;
  }
}

@mixin media-xs(){
  @media screen and (max-width: $break_xs){
    @content;
  }
}

@mixin media-custom($size) {
  @media screen and (max-width: #{$size}px){
    @content;
  }
}

@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
